<hr>
<table>
    <thead>
    <tr>
     <th>Class 1 students</th><br>
    </tr>
  </thead>

  <tbody>
    <% @class1.each do |student| %>
      <tr> 
         <td style="text-transform: uppercase;"><%= student.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br><br>
...............................................................................
